@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    box-sizing: border-box;
    font-size: 100%;
    }

*, *:before, *:after {
    box-sizing: inherit;
}

body { 
    background-color: #fff;
    font-family: 'Open Sants', sans-serif;
    padding: 20px;
 }

 nav.nav-wrapper {
    background-color: #88c441;
    }

.div .container a.brand-logo{
    text-align: left;
    position: fixed;
    }

.material-icons.md-24{
    font-size: 24px; 
    cursor: pointer;
}

.box {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 600px;
    height: 100px;   
    position: relative;   
}

.card-image {
    color: #fff;
    font-weight: 100
}

.card-image item.price {
    margin-top:20px;
    font-weight: bold;
    justify-content: space-between;
}

.card-image button{
    text-align: right;  
    position: relative;
    justify-content: space-between;
}
  
.collection .collection-item{
    display: flex;
}

.collection-item.avatar {
    min-height: 84px;
    padding-left: 20px;
    position: relative;
}

.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #88C441;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}

.container h5 {
    color: #88C441;   
}

/*.nav{
    color: #88c441; //green
    color: #585755;	//gray
    color: #fff; //white	
    }
*/
